In [1]:
# !pip install plotly matplotlib pandas requests huobi-client
# !pip list
# !git clone https://github.com/HuobiRDCenter/huobi_Python
# !cd huobi_Python && python setup.py install

In [2]:
import datetime
import requests
import pandas as pd
import random
from utils import *
from strategies import *
# from matplotlib import pyplot as plt

In [97]:
symbol_list = get_symbol_list()
sb = symbol_list[random.randint(0, len(symbol_list))]
print(sb)
# a=get_price("canusdt", "1min", 2000)
a=get_price(sb, "4hour", 2000)
a=get_rate(a, "close")
a["cr+1"] = (a["close"].shift(-1) - a["close"]) / a["close"]
a["cr+2"] = (a["close"].shift(-2) - a["close"]) / a["close"]
a=get_rate(a, "volume")
a=custom_data_analyze_func(a, rolling_days=3)
a=get_mean_line(a)
b=a.loc[a["cr+1"]>0.2]
display(a.loc[a["cr+1"]>0.2])
# draw_candle(a)

wavesusdt

,high,low,open,close,volume,close_rate,cr+1,cr+2,volume_rate,close_cr,volume3_std,vol_mean3_cr,mean_5,mean_13,mean_21,mean_60,mean_120,mean_225
date,,,,,,,,,,,,,,,,,,
2020-08-13 08:00:00,2.2401,2.0700,2.1757,2.1340,1.856357e+05,-0.019482,0.233739,0.351828,-0.508613,-0.019482,97143.889795,-0.464856,2.16598,2.019862,1.993800,1.807053,1.668282,1.523500
2020-11-22 16:00:00,6.4800,6.0433,6.4369,6.2161,4.847158e+05,-0.034317,0.204324,0.223291,0.026917,-0.034317,16120.652695,0.010166,6.21820,6.511900,6.205929,5.110318,4.290470,3.753042
2021-04-09 12:00:00,14.5555,13.8958,13.9776,14.4107,1.319220e+06,0.030013,0.242410,0.333023,-0.150368,0.030013,662931.595457,0.442252,13.84596,13.041354,13.012652,12.456938,11.835017,10.960218

In [98]:
for dd in b.index:
    ss, ee = dd, dd-datetime.timedelta(hours=4*6)
    b = a.loc[(a.index >= ss) & (a.index <= ee)]
    if len(b) > 4:
        draw_candle(b)

In [96]:
b

Empty DataFrame
Columns: [high, low, open, close, volume, close_rate, cr+1, cr+2, volume_rate, close_cr, volume3_std, vol_mean3_cr, mean_5, mean_13, mean_21, mean_60, mean_120, mean_225]
Index: []